/*footer*/

.icon-footer {
   color: white !important;
   width: 4rem;
   height: auto;
}

.icon-footer:hover {
   color: gray !important;
}

.button-footer {
   color: white !important;
   font-size: 1rem;
}

.button-footer:hover {
   color: gray !important;
}