@import "tailwindcss";


@font-face {
   font-family: 'Source Code Pro';
   src: url('/fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf');
}

@font-face {
   font-family: 'Cousine';
   src: url('/fonts/Cousine/Cousine-Regular.ttf');
}

@font-face {
   font-family: 'Codystar';
   src: url('/fonts/Codystar/Codystar-Regular.ttf');
}

@font-face {
   font-family: 'Oswald';
   src: url('/fonts/Oswald/static/Oswald-Regular.ttf');
}


@font-face {
   font-family: 'Playfair Display';
   src: url('/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}

:root {
   --font-cousine: 'Cousine', 'monospace';
   --font-playfair: 'Playfair Display', 'serif';
   --font-times: 'Times New Roman', 'sans-serif';
   --font-source-code-pro: 'Source Code Pro', 'sans-serif';
   --font-oswald: 'Oswald', 'sans-serif';
   --font-codystar: 'Codystar', 'sans-serif';
}

* {
   z-index: 10;
}

.font-playfair {
   font-family: var(--font-playfair);
}

.font-source-code-pro {
   font-family: var(--font-source-code-pro);
}

.font-oswald {
   font-family: var(--font-oswald);
}

.font-codystar {
   font-family: var(--font-codystar);
}

.font-cousine {
   font-family: var(--font-cousine);
}

.font-times {
   font-family: var(--font-times);
}



.div-faded {
   position: absolute;
   background-color: transparent;
   width: 100%;
   height: 100%;
   border: 6rem solid transparent;
   transition: border-color 0.2s ease;
}

.div-faded .child-div-faded {
   background-color: rgba(255, 233, 178, 0.9);
}

.time-faded {
   position: absolute;
   top: 2.5rem;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   z-index: 20 !important;
   color: white;

}

.container-div-faded:hover {
   .div-faded {
      border: 6rem solid rgba(255, 233, 178, 0.9);
   }

   .time-faded {
      color: black;
   }

   .child-div-faded {
      opacity: 0;
   }
}



.article-intro {
   font-family: var(--font-playfair);
   font-weight: bold;
   font-size: 5.5rem;
}

.modal-video .ant-modal-content {
   padding: unset !important;
}

.div-history {
   background-image: url('/images/homepage-music-bg.png');
}


.link-custom {
   font-family: var(--font-source-code-pro);
   text-decoration: underline;
   text-transform: uppercase;
   font-size: 1.5rem;
   text-align: center;
}

.link-hover:hover {
   opacity: 0.6;
}

.text-times {
   font-family: var(--font-times);
   font-size: 1.5rem;
   text-align: center;
   letter-spacing: 0.05em;
}

.text-shadow-custom {
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.count-photos {
   aspect-ratio: 1 / 1;
   height: 60%;
   border: 5px solid white;
   transform: rotate(45deg);
   display: flex;
   align-items: center;
   justify-content: center;
}

.count-value {
   transform: rotate(-45deg);
   /* giữ chữ không bị xoay */
   font-family: 'Source Code Pro', monospace;
   font-size: 8rem;
   color: white;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   /* thay cho text-shadow-custom */
}

/*
responsive
*/
@media (max-width: 640px) {
   .square-mobile {
      min-height: 50vh !important;
      width: 100vw !important;
      min-width: 100vw !important;
      height: auto !important;
   }
}
