@import "tailwindcss";

:root {
   --font-cousine: 'Cousine', monospace;
   --font-playfair: 'Playfair Display', serif;
   --font-times: 'Times New Roman', serif;
}

*{
   z-index: 50;
}

.font-cousine {
   font-family: var(--font-cousine);
}

.font-times {
   font-family: var(--font-times);
}


/*Header */

.link-style {
   color: white !important;
   font-family: 'Cousine', monospace;
   text-decoration: none;
   font-size: 1rem;
}

.link-style:hover,
.link-style:active {
   font-weight: bold;
   text-decoration: underline;
   text-underline-offset: 0.5rem;
   /* Khoảng cách gạch chân ra xa */

}

.link-to-home {
   display: inline-block;
   width: 200px;
   height: 100%;
   margin: 0 auto;
   background: url('/images/1d-logo.png') no-repeat center center;
   background-size: contain;
}


/*footer*/

.icon-footer {
   color: white !important;
   width: 4rem;
   height: auto;
}

.icon-footer:hover {
   color: gray !important;
}

.button-footer {
   color: white !important;
   font-size: 1rem;
}

.button-footer:hover {
   color: gray !important;
}


.article-intro {
   font-family: var(--font-playfair);
   font-weight: '700';
   font-size: 5rem;
}

.modal-video .ant-modal-content {
   padding: unset !important;
}

.div-history {
   background-image: url('/images/homepage-music-bg.png');
}